In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# data dir

data_dir = 'D:/thon/project/tourism/2022년/카드데이터'

# data load

card = pd.read_csv(data_dir + '/NATIVE(2018.1_2022.4).txt', sep = '|') # load하는데 1분 40초 소요

C:\Users\sujin\AppData\Local\Temp\ipykernel_1660\3999143833.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  card = pd.read_csv(data_dir + '/NATIVE(2018.1_2022.4).txt', sep = '|') # load하는데 1분 40초 소요

In [7]:
card.head()

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
0,세종,세종,.,취미오락,종합쇼핑,F,30,202108,WHITE,휴식,325008700,12639
1,세종,세종,.,취미오락,종합쇼핑,M,30,202112,WHITE,휴식,599872600,20805
2,서울,세종,.,취미오락,종합쇼핑,F,50,202106,WHITE,활동,30363400,1075
3,부산,세종,.,취미오락,외식,F,30,202201,WHITE,활동,6028600,428
4,서울,세종,.,취미오락,인터넷게임,F,20,202108,WHITE,활동,630200,182

In [8]:
card.shape

(50905132, 12)

In [9]:
card['ta_ym'] = pd.to_datetime(card['ta_ym'], format='%Y%m')
card['year'] = pd.DatetimeIndex(card['ta_ym']).year
card['month'] = pd.DatetimeIndex(card['ta_ym']).month
card['avg_spend'] = round(card['vlm'] / card['usec'], 0).astype(int) # 건당 평균 소비액

In [21]:
card.head()

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec,year,month,avg_spend
0,세종,세종,.,취미오락,종합쇼핑,F,30,2021-08-01,WHITE,휴식,325008700,12639,2021,8,25715
1,세종,세종,.,취미오락,종합쇼핑,M,30,2021-12-01,WHITE,휴식,599872600,20805,2021,12,28833
2,서울,세종,.,취미오락,종합쇼핑,F,50,2021-06-01,WHITE,활동,30363400,1075,2021,6,28245
3,부산,세종,.,취미오락,외식,F,30,2022-01-01,WHITE,활동,6028600,428,2022,1,14086
4,서울,세종,.,취미오락,인터넷게임,F,20,2021-08-01,WHITE,활동,630200,182,2021,8,3463

In [23]:
# 거래 세부 지역 'v3' 칼럼의 결측은 '.' 으로 대체되어있고, 그 수는 309,895건
card['v3'].loc[card['v3'] == '.'].count()

309895

In [29]:
# 나이 결측 하나 확인
card.loc[card['cln_age_r'] == '.']

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
48462936,경기,경기,안산시,취미오락,패션쇼핑,M,.,2018-10-01,WHITE,활동,202368,4

In [29]:
card.groupby(['sex_ccd', 'cln_age_r'])

In [36]:
# gb3 칼럼의 레이블을 기준으로 이용건수와 vlm 결합

a = card.groupby(['gb3', 'sex_ccd', 'cln_age_r', 'ta_ym']).sum()

In [37]:
pd.DataFrame(a)[['vlm', 'usec', 'avg_spend']]

                                               vlm     usec    avg_spend
gb3    sex_ccd cln_age_r ta_ym
문화예술활동 F       20        2018-01-01    25475126363  1815443  234063141.0
                         2018-02-01    21397075089  1477985  211072721.0
                         2018-03-01    23066911922  1605505  274025747.0
                         2018-04-01    25744157918  1636225  275202983.0
                         2018-05-01    27551404713  1744443  293409052.0
...                                            ...      ...          ...
취미오락   M       20        2018-10-01   147932785169  7541530  178670701.0
               30        2018-10-01  4143102256447  5176821  297837750.0
               40        2018-10-01   286090487649  7205022  349878891.0
               50        2018-10-01   113941040325  3107792  310305976.0
               60        2018-10-01    68461150564  1830809  212375199.0

[2121 rows x 3 columns]

In [23]:
# 스포츠활동 관련 소비로 스포츠용품구매, 레저스포츠, 골프, 헬스, 자전거, 스키, 운동경기 관람이 있음
card['gb2'].unique()

array(['종합쇼핑', '외식', '인터넷게임', '레저스포츠', '독서', '미용', '패션쇼핑', '숙박', '헬스',
       '목욕', '교육훈련', '유흥', '공연관람', '교통', '사진촬영', '스포츠용품구매', '골프',
       '애완동물돌보기', '미술공예참여', '관광쇼핑', '체험', '여행사', '자전거', '스키', '종교활동',
       '음악감상', '악기연주', '운동경기관람'], dtype=object)

In [3]:
# 스포츠활동이 주제이므로 그 데이터만 추출하자
card_sports = card.loc[card['gb3'] == '스포츠활동']
card_sports.shape

(7560859, 12)

In [4]:
card_sports.to_csv('card_sports.csv')