In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# data dir

data_dir = 'D:/thon/project/tourism/2022년/카드데이터'

# data load

card = pd.read_csv(data_dir + '/NATIVE(2018.1_2022.4).txt', sep = '|') # load하는데 1분 40초 소요

C:\Users\sujin\AppData\Local\Temp\ipykernel_5444\3999143833.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  card = pd.read_csv(data_dir + '/NATIVE(2018.1_2022.4).txt', sep = '|') # load하는데 1분 40초 소요

In [3]:
card['ta_ym'] = pd.to_datetime(card['ta_ym'], format='%Y%m')
#card['year'] = pd.DatetimeIndex(card['ta_ym']).year
#card['month'] = pd.DatetimeIndex(card['ta_ym']).month
card['avg_spend'] = round(card['vlm'] / card['usec'], 0).astype(int) # 건당 평균 소비액

In [4]:
card.head()

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec,avg_spend
0,세종,세종,.,취미오락,종합쇼핑,F,30,2021-08-01,WHITE,휴식,325008700,12639,25715
1,세종,세종,.,취미오락,종합쇼핑,M,30,2021-12-01,WHITE,휴식,599872600,20805,28833
2,서울,세종,.,취미오락,종합쇼핑,F,50,2021-06-01,WHITE,활동,30363400,1075,28245
3,부산,세종,.,취미오락,외식,F,30,2022-01-01,WHITE,활동,6028600,428,14086
4,서울,세종,.,취미오락,인터넷게임,F,20,2021-08-01,WHITE,활동,630200,182,3463

In [29]:
# 나이 결측 하나 확인
card.loc[card['cln_age_r'] == '.']

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
48462936,경기,경기,안산시,취미오락,패션쇼핑,M,.,2018-10-01,WHITE,활동,202368,4

In [8]:
# 나이 결측행 제거
card = card.drop(card.index[48462936])

In [3]:
# 스포츠활동이 주제이므로 그 데이터만 추출하자
card_sports = card.loc[card['gb3'] == '스포츠활동']
card_sports.shape

(7560859, 12)

In [4]:
card_sports.to_csv('card_sports.csv')